<section class="container">
  <h3>Prontuário:</h3>
  <h5> {{ paciente.nomeCompleto }} </h5>
  <hr class="mb-1">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome do Paciente</th>
        <th scope="col">Convênio</th>
        <th scope="col">Contato de Emergência</th>
        <th scope="col">Alergias</th>
        <th scope="col">Cuidados específiocos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ paciente.nomeCompleto }} </td>
        <td>{{ paciente.convenio }} </td>
        <td>{{ paciente.contatoEmergencia }} </td>
        <td>{{ paciente.alergias }} </td>
        <td>{{ paciente.cuidadosEspecificos }}</td>
      </tr>
    </tbody>
  </table>
  <div class="consultas">
    <h4> Consultas</h4>
    <hr class="mb-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Motivo da consulta</th>
          <th scope="col">Data</th>
          <th scope="col">Horário</th>
          <th scope="col">Descrição</th>
          <th scope="col">Medicação</th>
          <th scope="col">Dosagem</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consulta of prontuario.consultas">
          <td><strong>{{ consulta.motivo }} </strong></td>
          <td><strong>{{ consulta.data }} </strong></td>
          <td><strong>{{ consulta.horario }} </strong></td>
          <td>{{ consulta.descricao }} </td>
          <td>{{ consulta.dosagensPrecaucoes }} </td>
          <td>{{ consulta.medicamento.id }} </td>
          <td><button class="btn btn-primary" (click)="editarConsulta(consulta.id || 0)">editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="dietas">
    <h4>Dietas</h4>
    <hr class="mb-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome da dieta</th>
          <th scope="col">Data</th>
          <th scope="col">Horário</th>
          <th scope="col">Tipo</th>
          <th scope="col">Descrição</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dieta of prontuario.dietas">
          <td><strong>{{ dieta.nome }} </strong></td>
          <td><strong>{{ dieta.data }} </strong></td>
          <td><strong>{{ dieta.horario }} </strong></td>
          <td>{{ dieta.tipoDieta }} </td>
          <td>{{ dieta.descricao }} </td>
          <td><button class="btn btn-primary" (click)="editarDieta(dieta.id || 0)">editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="Exames">
    <h4>Exames</h4>
    <hr class="mb-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome do exame</th>
          <th scope="col">Data</th>
          <th scope="col">Horário</th>
          <th scope="col">Tipo</th>
          <th scope="col">Laboratório</th>
          <th scope="col">Resultado</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exame of prontuario.exames">
          <td><strong>{{ exame.nome }} </strong></td>
          <td><strong>{{ exame.data }} </strong></td>
          <td><strong>{{ exame.horario }} </strong></td>
          <td>{{ exame.tipo }} </td>
          <td>{{ exame.laboratorio }} </td>
          <td>{{ exame.resultado }} </td>
          <td><button class="btn btn-primary" (click)="editarExame(exame.id || 0)">editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="exercicios">
    <h4>Exercícios</h4>
    <hr class="mb-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome do Exercício</th>
          <th scope="col">Data</th>
          <th scope="col">Horário</th>
          <th scope="col">Tipo</th>
          <th scope="col">Quantidade por semana</th>
          <th scope="col">Descrição</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exercicio of prontuario.exercicios">
          <td><strong>{{ exercicio.nome }} </strong></td>
          <td><strong>{{ exercicio.data }} </strong></td>
          <td><strong>{{ exercicio.horario }} </strong></td>
          <td>{{ exercicio.tipoExercicioEnum }} </td>
          <td>{{ exercicio.quantidadePorSemana }} </td>
          <td>{{ exercicio.descricao }} </td>
          <td><button class="btn btn-primary" (click)="editarExercicio(exercicio.id || 0)">editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="Medicamentos">
    <h4>Medicamentos</h4>
    <hr class="mb-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome do medicamento</th>
          <th scope="col">Data</th>
          <th scope="col">Horário</th>
          <th scope="col">Tipo</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Unidade</th>
          <th scope="col">Observações</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicamento of prontuario.medicamentos">
          <td><strong>{{ medicamento.nome }} </strong></td>
          <td><strong>{{ medicamento.data }} </strong></td>
          <td><strong>{{ medicamento.horario }} </strong></td>
          <td>{{ medicamento.tipo }} </td>
          <td>{{ medicamento.quantidade }} </td>
          <td>{{ medicamento.unidade }} </td>
          <td>{{ medicamento.observacao }} </td>
          <td><button class="btn btn-primary" (click)="editarMedicamento(medicamento.id || 0)">editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>