:root {
	--cor-primaria: #00408a;
}

.btn-primary.btn-primary, .bg-primary.bg-primary {
	background-color: var(--cor-primaria) !important;
	color: #fff !important;
}

.text-primary.text-primary {
	color: var(--cor-primaria) !important;
}